
.topics {
    width: 86%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .topics-main {
        padding-bottom: 1rem;
        margin-right: 3rem;
        border-bottom: 1px solid #e6e6e6;
        
        .topics-title {
            font-size: 2.5em;
            color: #333;
            margin: 0.5rem 0;
        }

        .topic-link {
            color: rgb(6, 105, 191);
            text-decoration: underline;
            transition: color 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: #184a87;
            }
        }

        .form-close {
            font-size: 0.8em;
            color: #910d0d;
            text-decoration: underline;
            transition: color 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: red;
            }
        }

        .topics-list {
            margin: 1rem 0;
            padding-left: 1rem;
        }
    }
}

// topic item

.topic-item {
    width: 80%;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .topic-item-name {
        text-decoration: none;
        font-size: 2em;
        color: #333;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: #184a87;
            transform: scale(1.1);
        }
    }

    .topic-item-delete-btn {
        padding: 2px 5px;
        color: #910d0d;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: red;
            transform: scale(1.1);
        }
    }
}

// topic detail

.topic-detail {
    width: 80%;
    margin: 2rem auto;
}

// topic form 

.topic-form {
    width: 60%;
    margin: 1rem 0;
    border-bottom: 1px solid #e6e6e6;

    .topic-form-btn {
        font-size: 0.9em;
        width: 40%;
        border-radius: 3px;
        background-color: #184a87;
        color: #fff;
        box-shadow: 2px 2px 3px #ccc;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            background-color: #3b6d9a;
            transform: scale(1.03);
            box-shadow: 3px 3px 4px #ccc;
        }
    }
}