
.blog-navigation {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 20px;

    .blog-navigation-head {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .blog-user-link {
            font-size: 1.4em;
            font-weight: 600;
            color: #0b4966;
            text-decoration: none;
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: #0287b7;
                transform: scale(1.1);
            }
        }
    }

    .blog-navigation-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .blog-navigation-auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .blog-link {
        text-decoration: none;
        font-size: 1.3em;
        color: #333;
        margin: auto 20px;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #ccc;
            border-bottom: 2px solid #ccc;
            transform: scale(1.1);
        }
    }

    .link-active {
        color: #ccc;
        border-bottom: 2px solid #ccc;
        transform: scale(1.1);
    }
}