
.main-navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 46px;
    background-color: #1b406479;
    padding: 0 20px;

    .main-navigation__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-navigation__items {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .main-navigation__auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-link {
        margin: auto 20px;
        font-size: 1.2em;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: color 0.3s, border-bottom 0.3s ease-in-out, transform 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;

        &:hover {
            color: #18868c;
            border-bottom-color: #18868c;
            transform: scale(1.1);
        }
    }
}