
.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 0 4rem;
    border-bottom: 1px solid #ccc;

    .main-navigation__items {
        display: flex;
        align-items: center;
    }

    .main-navigation__auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-link {
        margin: auto 20px;
        font-size: 0.8em;
        color: #121212;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #18868c;
        }
    }
}