
.portfolio-socials-wrapper {
    display: flex;
    align-items: center;

    .portfolio-social-link {
        text-decoration: none;
        font-size: 1.9em;
        color: #ccc;
        margin: 0 0.5em;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: rgb(114, 3, 3);
            transform: scale(1.2);
        }
    }
}

.portfolio-list-item {
    padding: 0.15em 0;
}

.portfolio-link {
    color: rgb(81, 111, 141);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        border-bottom: 1px solid #c1f3b5;
        color: #c1f3b5;
    }
}

.link-active {
    border-bottom: 1px solid #c1f3b5;
    color: #c1f3b5;
}

.portfolio-nav-user-link {
    margin-left: 1.1rem;
    color: ivory;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        color: #ccc;
        transform: scale(1.04);
    }
}